* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.5em;
}

html {
	height: 100%;
}


body {
	height: 100%;
}

.card {
	border: 1px solid black;
	border-radius: 20px;
	width: 500px;
	margin: 50px auto;
	padding: 40px;
	text-align: center;
}

.ball {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background: navy;
	margin: auto auto;
}

