* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.2em;
}


.ball {
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background: #0406a4;
	margin: 20px;
	transition: transform 0.5s ease;
}

p {
	margin: 20px; 
	font-size: 40px;
}

