
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.4em;
}

body {
	background: #f2f2ff;
}
.card {
	font-size: 24px;
	margin: 20px auto;
	border: 1px solid black;
	border-radius: 15px;
	width: 900px;
	padding: 40px;
	li {
		list-style: none;
	}
	a {
		text-decoration: none;
	}
}

	
.first {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	justify-content: space-around;
	a {
		text-align: center;
		background: black;
		border: 1px solid gray;
		color: white;
		padding: 10px 20px;
		border-radius: 10px;
		transition: all 0.5s ease-out;
	}
	a:hover {
		background: white;
		color: black;
		border: 1px solid gray;
	}
}

.second {
	div {
		display: none;
		margin: 20px 0px;
		border: 1px solid red;
		padding: 20px;
		border-radius: 20px;
		opacity: 0;
		transition: opacity 1s, display 0.3s allow-discrete;
	}
	.show {
		opacity: 1;
		display: block;
		margin: 20px 0px;
	}
	@starting-style {
		.show {
			opacity: 0;
		}
	}
	p {
		margin: 20px 0px;
	}
}

.third {
	a {
		color: white;
		font-size: 30px;
		padding: 20px 30px;
		background: black;
		border-radius: 20px;
	}	
	
}
	
		

	
	
