
:root {
	--edges: clamp(0px, 2em, 4em)
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.3em;
}


body {
	font-size: 1.7em;
	background: lightgray;
	padding: 30px 0;
}

.content-grid {
	width: 100%;
	display: grid;
	gap: 30px 10px;
	grid-template-columns: [full-width-start] var(--edges) [breakout-start] var(--edges) [content-start] 1fr [content-end] var(--edges) [breakout-end] var(--edges) [full-width-end];
}



.content-grid > * {
	grid-column: content;
	border-radius: 5px;
}

.breakout {
	grid-column: breakout;
	> * {
		padding: 0  calc(10px + var(--edges));
	}
}

 .full-width {
	grid-column: full-width;
	padding: 0;
	border-radius: 0;
}

div {
	text-align: center;
	color: white;
	padding: 20px;
	width: 100%;
	background: gray;
}

div.header {
	background: black;
}




